<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Система конвертации аудиосообщений в текст">
    <title>Audio2Text</title>
    <link rel="stylesheet" href="style.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <script type="module" src="script.js" defer></script>
</head>
<body class="hidden">
    <div class="container">
        <header class="header">
            <div class="header-buttons">
                <button class="header-button" @click="openDocs" title="Документация">
                    <i class="material-icons">book</i>
                </button>
                <button class="header-button" @click="openRepo" title="Репозиторий">
                    <img src="https://github.githubassets.com/favicons/favicon-dark.svg" alt="GitHub" class="github-icon">
                </button>
            </div>
        </header>

        <h1>Система конвертации аудиосообщений в текст</h1>

        <section class="input-area">
            <h2>Загрузка аудио</h2>
            <div class="input-buttons">
                <input type="file" id="audioFileInput" accept="audio/*" @change="handleFileChange" hidden>
                <button id="audioFileButton" class="custom-file-upload" @click="handleFileButtonClick">
                    <i class="material-icons">upload_file</i> Выбрать файл
                </button>
                <button id="recordStartButton" class="custom-file-upload" v-if="!isRecording" @click="handleRecordStartClick">
                    <i class="material-icons">mic</i> Записать звук
                </button>
                <button id="recordStopButton" class="custom-file-upload" v-if="isRecording" @click="handleRecordStopClick">
                    <i class="material-icons">stop</i> Остановить запись
                </button>
            </div>
        </section>

        <section class="output-area">
            <h2>Распознанный текст</h2>
            <div id="transcript">
                <p v-for="{ speaker, text } in transcription" :class="`speaker-${speaker + 1}`"><b>Диктор {{ speaker + 1 }}:</b> {{ text }}</p>
            </div>
        </section>
    </div>
</body>
</html>
